body {
				 background-color: #ffffff;
				margin: 10px;
				padding: 0px;
				font-family: 'Nunito', sans-serif;
			 }
h1 {
	text-align: center;
	margin: 10px;
}
h2 {

				 text-align:left;
			 }
img {
				 text-align: center;
				 width: 100%;
				 height: 500px;
			 }
button {
					background-color: white;
					color: black;
					display: block;
			}
hr {
				background-color: #000000;
				margin:30px;
				font-family: 'Nunito', sans-serif;
			}
a {
				color: 888888;
				text-decoration: none;
				margin-top: 0;
				margin-bottom: 0;
				margin-left: 25;
				margin-right: 25;
			}
a:hover {
				color: #000000;
			}
.bdy {
				padding: 50px;
				float: center;
				margin: 50px;
			}
#column1 {
				float:left;
				 margin-left: 30;
				 width: 60%;
				 font-family: 'Nunito', sans-serif;
			}
#column2 {
				text-align:left;
				float:left;
				 margin:30;
				 width:20%;
				 font-family: 'Nunito', sans-serif;
				 padding:0;
				 border-left:1px solid gray;
			}
form {
				
				margin: 10;
				
				}
.formfarm {
	            margin:auto;
				}
.header {
				text-align: center;
				margin: auto;
			}
.container {
			width: 500px;
			height: 500px;
			border: 5px solid black;
			float:left;
			margin:100;
			}
			
			.table {
		display: table;
	 	width: 100%; 
	 	background: #fff;
	 	margin: 0;
	 	box-sizing: border-box;

	 }
fieldset {
				padding: 15px;
			}
			#c1 {
			width: 70%;
			margin: 10px;
			float: left;
			padding-right: 100px;

			}
			#c2 {
				float: left;
				 width:15%;
				 border-left:1px solid gray;
				 margin: 20px;
			}
	#a {
			width: 20%;
			margin: 10px;
			float: left;

			}
#b {
			width: 20%;
			margin: 10px;
			float: left;

			}
			#c {
			width: 20%;
			float: left;
			margin-left: 0px;
			margin-top: 20px;

			}
			
			#af {
				width: 40%
				float: left;
			}
			#bf {
				width: 40%
				float: left;
				color: #000000
			}
#E-2 {
			width: 40%;
			height: 250px;
			float: left;
			border: 1px solid black;
			}
			#E-3 {
			width: 40%;
			height: 250px;
			float: left;
			}
ul.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

li.top {
    float: left;
}

li.top a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.top a:hover {
    background-color: #fff;
	color: #000;
}
table {
				font-weight: normal;
		        width: 89%;
				float: left;
				border: 1px solid black;
			}
			table, th, td {
				border-collapse: collapse;
			}
			th, td {
				padding: 5px 15px;
				text-align: left;
			}
			table#t01 tr:nth-child(even) {
				background-color: #eee;
			}
			table#t01 tr:nth-child(odd) {
			   background-color:#fff;
			}
			table#t01 th	{
				background-color: black;
				color: white;
				border: 1px solid black;
			td:hover {
				color: blue;
			}